<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="style.css" />
<script src="app.js"></script>

<body>
  <p>Try to change the names.</p>
  <!--AngularJS modules define AngularJS applications.
        AngularJS controllers control AngularJS applications.
        The ng-app directive defines the application, the ng-controller directive defines the controller.-->
  <div ng-app="myApp" ng-controller="myCtrl">
    <form ng-submit="submitName()" >
      First Name:
      <input type="text" ng-model="firstName" required=true>
      <br> Last Name:
      <input type="text" ng-model="lastName" required=true>
      <input type="submit" value="Submit" />


    </form>
    <br> Name List:


    <ul>
      <li ng-repeat="x in names ">
        {{ x.firstname }} {{ x.lastname }}
      </li>
    </ul>


    <form ng-submit="submitText()" >
      Enter text and hit enter:
      <input type="text" ng-model="text" name="text" required=true />
      <input type="submit" value="Submit" />
      <pre>list={{list}}</pre>
    </form>

  </div>





</body>

</html>